<ng-template id="hierarchiesTree">
  <div class="list-wrapper">
    <div class="round-letter">
      <span>{{ item.strengthValue }}%</span>
    </div>
    <div class="text-container">
      <span class="text-primary">{{ item.name }}</span>
      <span class="text-secondary">{{ item.email }}</span>
    </div>
    <div class="list-secondary-actions">
      <div class="progress-bar">
        <span>{{ item.strengthValue }}% - {{ item.strengthLabel }}</span>
      </div>
      <button
        class="button button-small button-delete"
        ng-click="editEmployee(item.id)"
      >
        Deletar
      </button>
    </div>
  </div>

  <ul class="list" ng-if="item.hierarchies">
    <li
      class="list-item"
      ng-repeat="item in item.hierarchies"
      ng-include="'hierarchiesTree'"
    ></li>
  </ul>
</ng-template>
